#body
#{
 #   background-color: black;
#}

h1
{
    color: White;
    text-align: center;
}


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#gradebookname {
    text-align: center;
}