<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Assignment List</title>
  </head>

  <body>


       <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% endif %}
       </ul>


    <nav class="navbar navbar-expand-sm bg-warning">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/roster">Student Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addstudent">Add Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deletestudent">Delete Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addassignment">Add Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deleteassignment">Delete Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/grade">Grades</a>
    </li>
  </ul>
</nav>

    <div class="container-fluid">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-sm-8">
            </div>
            <h2 id="name">Assignment List</h2>
            </div>

          </div>
<!-- Unordered list of assignments  -->
        <ul class="container-fluid list-group">

            <!-- Table of technical skill through -->
            <li class="list-group-item list-group-item-danger">
                <table class="table table-light table-border table-responsive-lg">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Assignment</th>
                        <th scope="col">Points Total</th>
                      </tr>
                    </thead>
                    {% for assignment in assignmentlist %}
                    <tbody>
                      <tr>

                        <td>{{ assignment.AssignmentName }}</td>
                        <td>{{ assignment.PointsTotal }}</td>
                      </tr>

                    </tbody>
                     {% endfor %}
                  </table>

            </li>

        </div>
  </body>
</html>