<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Delete Student</title>
    </head>

    <body>

           <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
           </ul>



    <nav class="navbar navbar-expand-sm bg-warning">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/roster">Student Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addstudent">Add Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deletestudent">Delete Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addassignment">Add Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deleteassignment">Delete Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/grade">Grades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/search">Search Student</a>
    </li>
  </ul>
</nav>
        <div class="container-fluid">
        <div class="container-fluid center">
            <div class="row">
                <div class="col-sm-8">
                    <div class="jumbotron p-3">
        <h2> Delete Student </h2>
        <div class="container">

        <form action="/deletestudent" method="POST">
            {{ form.csrf_token }}
            {{ form.opts }}
            <ul>
                    {% for error in form.opts.errors %}
                        <li> style="color:red";">{{ error }} </li>
                   {% endfor %}
            </ul>
            <input type="submit" name="delete" value="delete">
        </form>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </html>
