<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Search Student</title>
    </head>

    <body>

           <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
           </ul>



    <nav class="navbar navbar-expand-sm bg-warning">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/roster">Student Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addstudent">Add Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deletestudent">Delete Student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/addassignment">Add Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/deleteassignment">Delete Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/grade">Grades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://teamstore20.pythonanywhere.com/search">Search Student</a>
    </li>
  </ul>
</nav>
<div class="container">

            <table class="table table-light table-border table-responsive-lg">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Major</th>
                        <th scope="col">Email Address</th>
                        {% for x in one.MyGrade %}
                        <th scope="col">{{x.assignment.AssignmentName }}</th>
                        {%endfor%}
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>{{one.FirstName }}</td>
                        <td>{{one.LastName }}</td>
                        <td>{{one.Major }}</td>
                        <td>{{one.Email }}</td>
                {% for i in one.MyGrade %}
                        <td> {{i.Grade}}</td>
                {%endfor%}
                      </tr>

                    </tbody>

                  </table>

    </div>

    </html>

